.p {
    color: aquamarine;
    color: #00ffff;
    color: rgb(0, 0, 255);
    color: rgba(0, 0, 255, .5);

    /* chrome浏览器接收的最小字体为12px */
    font-size: 20px;

    font-weight: normal;
    font-weight: lighter;
    font-weight: bold;
    font-weight: bolder;
    font-weight: 700;
    font-weight: 400;

    /*斜体*/
    font-style: italic;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.background {
    width: 400px;
    height: 400px;
    background-color: rgb(76, 27, 27);

    /* 背景图片默认显示原图片大小 如果盒子够大则自动重复铺满 */
    background-image: url(https://up.enterdesk.com/edpic/69/08/c3/6908c34db23a966c164421aced02b1b9.jpg);
    /* 只有水平方向重复铺满 */
    background-repeat: repeat-x;
    /* 可以通过size设置图片大小 靠repeat是不行的 */
    background-size: 200px 150px;

    /* 按比例完全覆盖，多出部分截掉 图片不变形 使用率最高*/
    background-size: cover;

    /* 按比例撑满，少的部分不管  图片不变形*/
    background-size: contain;


    /* 图片开始渲染的位置 默认值00是百分比 */
    background-position: 0 0;
    background-position: left center;
}

.text {
    text-align: center;

    /* 简单的来说就是给文本加下的，修饰 */
    text-decoration: overline;
    text-decoration-color: aqua;

    /* 控制文本大小写 capitalize首字母大写 uppercase全大写 lowercase全小写 */
    text-transform: capitalize;

    /* 首行缩进 */
    text-indent: 2em;
}
table {
    
}
table,td {
    border: 1px solid red;
}