@media screen and (max-width: 768px) {
    main {
        width: 480px;
        height: 180px;
    }
}

@media screen and (min-width:768px) and (max-width:996px) {
    main {
        width: 580px;
        height: 280px;
    }
}

@media screen and (min-width:996px) {
    main {
        width: 780px;
        height: 380px;
    }
}